<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uidetails">

    <application>
        <activity
            android:name=".activities.DetailActivity"
            android:exported="true"
            android:theme="@style/Theme.Leanback" />
    </application>

</manifest>